.logo, #navbar_principal {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9c667+0,f79621+100;Orange+3D+%234 */
background: #f9c667; /* Old browsers */
background: -moz-linear-gradient(top, #f9c667 0%, #f79621 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f9c667 0%,#f79621 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f9c667 0%,#f79621 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */
}

#osidebar {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f79621+0,f9c667+99 */
background: #f79621; /* Old browsers */
background: -moz-linear-gradient(top, #f79621 0%, #f9c667 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f79621 0%,#f9c667 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f79621 0%,#f9c667 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79621', endColorstr='#f9c667',GradientType=0 ); /* IE6-9 */
}